.md-datepicker-input {
    min-width: 180px;
}
.md-button.md-icon-button {
    width: 23px;
}
md-datepicker {
    height: 35px;
}
md-input-container {
    padding-bottom: 6px;
}
.md-info{
   font-size: 13px;
}
 .outter-error-box {
    color: rgb(255,87,34); 
    font-size: 12px;
  }