<div layout-padding layout="row" layout-fill layout-align="center center">
  <div flex="100" flex-lg="100" flex-md="100" flex-sm="100">
      <md-content class="md-padding">
       <md-card class="padded-content-page ng-scope">
          <form name="formulaloadbuy" ng-submit="formulaloadbuy.$valid && vm.formulaloadbuyClick()" novalidate>
            <span class="md-headline" translate>FORMULA_LOADBUY.TITLE</span>
            <hr>
              <div layout="column"> 
                <div layout="row">
                  <md-input-container flex>
                    <label for="description" translate>FORMULA_LOADBUY.DESCRIPTION.LABEL</label>
                    <input id="description" name="description" type="text" ng-model="vm.user.description" required/>
                      <div ng-messages="formulaloadbuy.description.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.description.$invalid">
                          <div ng-message when="required">
                              <span translate>FORMULA_LOADBUY.DESCRIPTION.PLEASE_ENTER</span>
                          </div>
                      </div>
                  </md-input-container>
                </div>
                <div layout="row">
                  <div  flex="50">
                      <fieldset class="standard">
                        <legend translate>FORMULA_LOADBUY.AIR_TRANSPORT</legend>
                          <md-input-container flex>
                            <label for="airCost" translate>FORMULA_LOADBUY.AIR_COST.LABEL</label>
                            <input id="airCost" name="airCost" type="text" ng-model="vm.user.airCost" required/>
                                <div ng-messages="formulaloadbuy.airCost.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airCost.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_COST.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airMinCost" translate>FORMULA_LOADBUY.AIR_MINIMUMCOST.LABEL</label>
                            <input id="airMinCost" name="airMinCost" type="text" ng-model="vm.user.airMinCost" required/>
                                <div ng-messages="formulaloadbuy.airMinCost.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airMinCost.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_MINIMUMCOST.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airProcessed" translate>FORMULA_LOADBUY.AIR_PROCESSED.LABEL</label>
                            <input id="airProcessed" name="airProcessed" type="text" ng-model="vm.user.airProcessed" required/>
                                <div ng-messages="formulaloadbuy.airProcessed.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airProcessed.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_PROCESSED.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airStotage" translate>FORMULA_LOADBUY.AIR_STORAGE.LABEL</label>
                            <input id="airStotage" name="airStotage" type="text" ng-model="vm.user.airStotage" required/>
                                <div ng-messages="formulaloadbuy.airStotage.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airStotage.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_STORAGE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airService" translate>FORMULA_LOADBUY.AIR_SERVICE.LABEL</label>
                            <input id="airService" name="airService" type="text" ng-model="vm.user.airService" required/>
                                <div ng-messages="formulaloadbuy.airService.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airService.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_SERVICE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airInsurance" translate>FORMULA_LOADBUY.AIR_INSURANCE.LABEL</label>
                            <input id="airInsurance" name="airInsurance" type="text" ng-model="vm.user.airInsurance" required/>
                                <div ng-messages="formulaloadbuy.airInsurance.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airInsurance.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_INSURANCE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="airITBMS" translate>FORMULA_LOADBUY.AIR_ITBMS.LABEL</label>
                            <input id="airITBMS" name="airITBMS" type="text" ng-model="vm.user.airITBMS" required/>
                                <div ng-messages="formulaloadbuy.airITBMS.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.airITBMS.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.AIR_ITBMS.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-data-table-container flex>
                          <br>
                         <legend  translate>FORMULA_LOADBUY.AIR_PRICERANGE</legend>
                            <table md-data-table class="md-primary md-data-table">
                                <thead md-order="vm.query.order" >
                                    <tr>
                                        <th name="Libras Hasta"></th>
                                        <th name="Precio"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr md-auto-select ng-repeat="pricerange in vm.pricerange.data">
                                    <td>{{pricerange.pounds}}</td>
                                    <td>{{pricerange.price}}</td>
                                   
                                </tr>
                                </tbody>
                            </table>
                          </md-data-table-container> 
                      </fieldset>
                  </div>
                  <div  flex="50">
                      <fieldset class="standard">
                        <legend translate>FORMULA_LOADBUY.MARINE_TRANSPORT</legend>
                          <md-input-container flex>
                            <label for="marineCost" translate>FORMULA_LOADBUY.MARINE_COST.LABEL</label>
                            <input id="marineCost" name="marineCost" type="text" ng-model="vm.user.marineCost" required/>
                                <div ng-messages="formulaloadbuy.marineCost.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineCost.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_COST.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineMinCost" translate>FORMULA_LOADBUY.MARINE_MINIMUMCOST.LABEL</label>
                            <input id="marineMinCost" name="marineMinCost" type="text" ng-model="vm.user.marineMinCost" required/>
                                <div ng-messages="formulaloadbuy.marineMinCost.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineMinCost.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_MINIMUMCOST.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineProcessed" translate>FORMULA_LOADBUY.MARINE_PROCESSED.LABEL</label>
                            <input id="marineProcessed" name="marineProcessed" type="text" ng-model="vm.user.marineProcessed" required/>
                                <div ng-messages="formulaloadbuy.marineProcessed.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineProcessed.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_PROCESSED.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineStotage" translate>FORMULA_LOADBUY.MARINE_STORAGE.LABEL</label>
                            <input id="marineStotage" name="marineStotage" type="text" ng-model="vm.user.marineStotage" required/>
                                <div ng-messages="formulaloadbuy.marineStotage.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineStotage.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_STORAGE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineService" translate>FORMULA_LOADBUY.MARINE_SERVICE.LABEL</label>
                            <input id="marineService" name="marineService" type="text" ng-model="vm.user.marineService" required/>
                                <div ng-messages="formulaloadbuy.marineService.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineService.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_SERVICE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineInsurance" translate>FORMULA_LOADBUY.MARINE_INSURANCE.LABEL</label>
                            <input id="marineInsurance" name="marineInsurance" type="text" ng-model="vm.user.marineInsurance" required/>
                                <div ng-messages="formulaloadbuy.marineInsurance.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineInsurance.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_INSURANCE.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-input-container flex>
                            <label for="marineITBMS" translate>FORMULA_LOADBUY.MARINE_ITBMS.LABEL</label>
                            <input id="marineITBMS" name="marineITBMS" type="text" ng-model="vm.user.marineITBMS" required/>
                                <div ng-messages="formulaloadbuy.marineITBMS.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineITBMS.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_ITBMS.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                           <md-input-container flex>
                            <label for="marineMinPounds" translate>FORMULA_LOADBUY.MARINE_MINPOUNDS.LABEL</label>
                            <input id="marineMinPounds" name="marineMinPounds" type="text" ng-model="vm.user.marineMinPounds" required/>
                                <div ng-messages="formulaloadbuy.marineMinPounds.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineMinPounds.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_MINPOUNDS.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                           <md-input-container flex>
                            <label for="marineLiquidation" translate>FORMULA_LOADBUY.MARINE_LIQUIDATION.LABEL</label>
                            <input id="marineLiquidation" name="marineLiquidation" type="text" ng-model="vm.user.marineLiquidation" required/>
                                <div ng-messages="formulaloadbuy.marineLiquidation.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.marineLiquidation.$invalid">
                                    <div ng-message when="required">
                                        <span translate>FORMULA_LOADBUY.MARINE_LIQUIDATION.PLEASE_ENTER</span>
                                    </div>
                                </div>
                          </md-input-container>
                          <md-data-table-container flex>
                          <br>
                          <legend  translate>FORMULA_LOADBUY.MARINE_PRICERANGE</legend>
                           <table md-data-table class="md-primary md-data-table">
                                <thead md-order="vm.query.order" >
                                    <tr>
                                        <th name="Libras Hasta"></th>
                                        <th name="Precio"></th>
                                        
                                    </tr>
                                </thead>
                                <tbody>
                                   <tr md-auto-select ng-repeat="pricerange in vm.pricerange.data">
                                    <td>{{pricerange.pounds}}</td>
                                    <td>{{pricerange.price}}</td>
                                   
                                </tr>
                                </tbody>
                            </table>
                          </md-data-table-container> 
                      </fieldset>
                  </div>
                </div>
                <div layout="row">
                  <div  flex="100">
                    <fieldset class="standard">
                      <legend translate>FORMULA_LOADBUY.TEST</legend>
                      <div layout="row"  layout-wrap>
                        <md-input-container flex>
                        <label for="real" translate>FORMULA_LOADBUY.REAL.LABEL</label>
                        <input id="real" name="real" type="text" ng-model="vm.user.real" required/>
                            <div ng-messages="formulaloadbuy.real.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.real.$invalid">
                                <div ng-message when="required">
                                    <span translate>FORMULA_LOADBUY.REAL.PLEASE_ENTER</span>
                                </div>
                            </div>
                        </md-input-container>
                        <md-input-container flex>
                          <label for="volumen" translate>FORMULA_LOADBUY.VOLUME.LABEL</label> 
                          <input id="volumen" name="volumen" type="text"  ng-model="vm.user.volumen"required/>
                              <div ng-messages="formulaloadbuy.volumen.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.volumen.$invalid">
                                  <div ng-message when="required">
                                      <span translate>FORMULA_LOADBUY.VOLUME.PLEASE_ENTER</span>
                                  </div>
                              </div>
                        </md-input-container > 
                         <md-input-container flex>
                          <label for="amount" translate>FORMULA_LOADBUY.AMOUNT.LABEL</label> 
                          <input id="amount" name="amount" type="text"  ng-model="vm.user.amount"required/>
                              <div ng-messages="formulaloadbuy.amount.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.amount.$invalid">
                                  <div ng-message when="required">
                                      <span translate>FORMULA_LOADBUY.AMOUNT.PLEASE_ENTER</span>
                                  </div>
                              </div>
                        </md-input-container >           
                      </div>
                      <div layout="row"  layout-wrap>
                        <md-input-container flex>
                          <label for="shipping" translate>FORMULA_LOADBUY.SHIPPING.LABEL</label>
                          <input id="shipping" name="shipping" type="text" ng-model="vm.user.shipping" required/>
                              <div ng-messages="formulaloadbuy.shipping.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.shipping.$invalid">
                                  <div ng-message when="required">
                                      <span translate>FORMULA_LOADBUY.SHIPPING.PLEASE_ENTER</span>
                                  </div>                          
                              </div>
                        </md-input-container>
                        <md-input-container flex>
                          <label for="tax" translate>FORMULA_LOADBUY.TAX.LABEL</label> 
                          <input id="tax" name="tax" type="text"  ng-model="vm.user.tax"required/>
                              <div ng-messages="formulaloadbuy.tax.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.tax.$invalid">
                                  <div ng-message when="required">
                                      <span translate>FORMULA_LOADBUY.TAX.PLEASE_ENTER</span>
                                  </div>
                              </div>
                        </md-input-container > 
                        <md-input-container flex>
                           <label for="transportType" translate>FORMULA_LOADBUY.TRANSPORTTYPE.LABEL</label> 
                          <md-select name="transportType" ng-model="vm.user.transportType" required>
                          <md-option value="1">Valor1</md-option>
                          </md-select>
                             <div ng-messages="formulaloadbuy.transportType.$error" ng-if="formulaloadbuy.$submitted && formulaloadbuy.transportType.$invalid">
                                  <div ng-message when="required">
                                      <span translate>FORMULA_LOADBUY.TRANSPORTTYPE.PLEASE_ENTER</span>
                                  </div>
                              </div>                     
                        </md-input-container>          
                      </div>
                       <md-checkbox ng-model="vm.user.chkCalculation" id="chkCalculation">
                       <span class="md-info" translate>FORMULA_LOADBUY.TO_APPLY_CALCULATION</span>
                       </md-checkbox>
                      <legend translate>FORMULA_LOADBUY.CALCULATION.TITLE</legend>
                      <hr>
                      <div layout="row"  layout-wrap>
                        <div layout="column" layout-align="center end" flex="80">
                          <label  translate>FORMULA_LOADBUY.CALCULATION.COST</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.SERVICE</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.PROCESSED</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.STORAGE</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.INSURANCE</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.ITBMS</label> 
                          <label  translate>FORMULA_LOADBUY.CALCULATION.TOTAL</label> 
                        </div>
                         <div layout="column" class="vdivide" layout-align="center start" flex="8">
                          <label>$0.00</label> 
                          <label>$0.00</label>  
                          <label>$0.00</label> 
                          <label>$0.00</label> 
                          <label>$0.00</label> 
                          <label>$0.00</label> 
                          <label>$0.00</label> 
                        </div>
                      </div>
                    </fieldset>
                    </div>
                </div>
                <div layout="row" layout-align="center center">
                   
                    <md-button  class="md-raised md-warn " translate="FORMULA_LOADBUY.BUTTON_CANCEL"  aria-label="{{'FORMULA_LOADBUY.BUTTON_CANCEL' | translate}}"></md-button>
                    
                   
                    <md-button class="md-raised md-primary"  translate="FORMULA_LOADBUY.BUTTON_SIGNUP" aria-label="{{'FORMULA_LOADBUY.BUTTON_SIGNUP' | translate}}"></md-button>
                </div>
              </div>
          </form>
        </md-card>
      </md-content>
  </div>
</div>
