<div layout-padding layout="row" layout-fill layout-align="center center">
  <div flex="100" flex-lg="70" flex-md="70" flex-sm="70">
      <md-content class="md-padding">
       <md-card class="padded-content-page ng-scope">
          <form name="editmethods" ng-submit="editmethods.$valid && vm.editmethodsClick()" novalidate>
            <span class="md-headline" translate>EDIT_METHODS.TITLE</span>
             <hr> 
              <div layout="column" > 
                <div layout="row" layout-wrap>
                 <md-input-container flex>
                        <label for="method" translate>EDIT_METHODS.METHODS.LABEL</label>
                        <input id="method" name="method" type="text" ng-model="vm.user.method" required/>
                          <div ng-messages="editmethods.method.$error" ng-if="editmethods.$submitted && editmethods.method.$invalid">
                              <div ng-message when="required">
                                  <span translate>EDIT_METHODS.METHODS.PLEASE_ENTER</span>
                              </div>
                          </div>
                  </md-input-container>
                  <md-input-container flex>
                    <label translate>EDIT_METHODS.USO.LABEL</label>
                    <md-select name="uso" ng-model="vm.user.uso" required>
                    <md-option value="1">Valor1</md-option>
                    </md-select>
                       <div ng-messages="editmethods.uso.$error" ng-if="editmethods.$submitted && editmethods.uso.$invalid">
                            <div ng-message when="required">
                                <span translate>EDIT_METHODS.USO.PLEASE_ENTER</span>
                            </div>
                        </div>                     
                  </md-input-container>
                   
                </div>
                <div layout="row" layout-wrap>

                  <div flex>
                     <md-checkbox ng-model="vm.user.chkpromotion" id="chkpromotion">
                              <span class="md-info" translate>EDIT_METHODS.CHK_PROMOTION</span>
                      </md-checkbox>
                  </div>
                  </div>
                   <div layout="row" layout-wrap>
                   <md-input-container flex="50">
                    <label translate>EDIT_METHODS.PROMOTION</label>
                    <md-select ng-disabled="!vm.user.chkpromotion" name="promotion" ng-model="vm.user.promotion">
                    <md-option value="1">Valor1</md-option>
                    </md-select>
                                     
                  </md-input-container>
                </div>

              </div>
                 <div layout="row" layout-align="center center">
                 
                  <md-button  class="md-raised md-warn " translate="EDIT_METHODS.BUTTON_CANCEL"  aria-label="{{'EDIT_METHODS.BUTTON_CANCEL' | translate}}"></md-button>
                  
                 
                  <md-button class="md-raised md-primary"  translate="EDIT_METHODS.BUTTON_SIGNUP" aria-label="{{'EDIT_METHODS.BUTTON_SIGNUP' | translate}}"></md-button>
                </div>
              </div>
          </form>
        </md-card>
      </md-content>
  </div>
</div>


