<div layout-padding layout="row" layout-fill layout-align="center center">
  <div flex="100" flex-lg="70" flex-md="70" flex-sm="70">
      <md-content class="md-padding">
       <md-card class="padded-content-page ng-scope">
          <form name="editdepartcommerce" ng-submit="editdepartcommerce.$valid && vm.editdepartcommerceClick()" novalidate>
            <span class="md-headline" translate>EDIT_DEPARTCOMMERCE.TITLE</span>
             <hr> 
              <div layout="column" > 
                <div layout="row">
                <md-input-container flex>
                      <label for="depart" translate>EDIT_DEPARTCOMMERCE.DEPARTMENT.LABEL</label>
                      <input id="depart" name="depart" type="text" ng-model="vm.user.depart" required/>
                        <div ng-messages="editdepartcommerce.depart.$error" ng-if="editdepartcommerce.$submitted && editdepartcommerce.depart.$invalid">
                            <div ng-message when="required">
                                <span translate>EDIT_DEPARTCOMMERCE.DEPARTMENT.PLEASE_ENTER</span>
                            </div>
                        </div>
                  </md-input-container>
                </div>
                 <div layout="row" layout-align="center center">
                 
                  <md-button  class="md-raised md-warn " translate="EDIT_DEPARTCOMMERCE.BUTTON_CANCEL"  aria-label="{{'EDIT_DEPARTCOMMERCE.BUTTON_CANCEL' | translate}}"></md-button>
                  
                 
                  <md-button class="md-raised md-primary"  translate="EDIT_DEPARTCOMMERCE.BUTTON_SIGNUP" aria-label="{{'EDIT_DEPARTCOMMERCE.BUTTON_SIGNUP' | translate}}"></md-button>
                </div>
              </div>
          </form>
        </md-card>
      </md-content>
  </div>
</div>


